h2 {
    font-size: 4rem;
    text-align: center;
    font-family: "Warnock";
    text-decoration: underline;
    color: #8e44ad;
    font-weight: 700;
    font-style:italic;
   

}

p {
    font-size: 2rem;
    font-style: italic; 
}