<div class="container">
  <div class="row text-center" *ngIf="currentCharacter">
    <a routerLink="/home" class="btn btn-outline-dark" role="button" aria-pressed="true">Go Back</a>
    <div class="col-md-12" *ngFor="let characterInfo of currentCharacter">
      <h2>{{ characterInfo.name }}</h2>
      <br>
      <br>
      <p>CULTURE : {{ characterInfo.culture }}</p>

      <p *ngIf="characterInfo.books.length>0">BOOKS : {{ characterInfo.books }}<span *ngFor="let books of characterInfo.books; let first=first; let last=last">{{ books }}{{ last ? '' : ', ' }}</span></p>
      
      <p>BORN : {{ characterInfo.born }}</p>
      
      <p>DIED : {{ characterInfo.died }}</p>

      <p *ngIf="characterInfo.titles.length>0">TITLES : {{ characterInfo.titles }}<span *ngFor="let titles of characterInfo.titles; let first=first; let last=last">{{ titles }}{{ last ? '' : ', ' }}</span></p>

      <p *ngIf="characterInfo.aliases.length>0">ALIASES : {{ characterInfo.aliases }}<span *ngFor="let aliases of characterInfo.aliases; let first=first; let last=last">{{ aliases }}{{ last ? '' : ', ' }}</span></p>

      <p *ngIf="characterInfo.allegiances.length>0">ALLEGIANCES : {{ characterInfo.allegiances }}<span *ngFor="let allegiances of characterInfo.allegiances; let first=first; let last=last">{{ allegiances }}{{ last ? '' : ', ' }}</span></p>

      <p>FATHER : {{ characterInfo.father }}</p>
      <p>MOTHER : {{ characterInfo.mother }}</p>

      <p>GENDER : {{ characterInfo.gender }}</p>

      <p *ngIf="characterInfo.playedBy.length>0">PLAYED BY : {{ characterInfo.playedBy }}<span *ngFor="let playedBy of characterInfo.playedBy; let first=first; let last=last">{{ playedBy }}{{ last ? '' : ', ' }}</span></p>
      
      <p *ngIf="characterInfo.tvSeries.length>0">TV SERIES : {{ characterInfo.tvSeries }}<span *ngFor="let tvSeries of characterInfo.tvSeries; let first=first;let last=last">{{ tvSeries }}{{ last ? '' : ', ' }}</span></p>
    
    </div>

  </div>
</div>